@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: rgb(58, 109, 109);
$secondary: rgb(27, 66, 55);
$tertiary: rgb(201, 149, 53);
$light: rgb(224, 228, 227);
$info: rgb(185, 194, 191);
$warning: rgb(35, 116, 93);
$success: rgb(84, 128, 115);
$danger:rgb(167, 57, 57);
$table: rgb(220, 229, 227);
$dark: #3e3f3e;
$darker: rgb(141, 145, 144);
$selected: rgb(103, 151, 151);
$pale: rgb(129, 177, 175);
$hover: rgb(119, 165, 157);
$unselectable: rgb(173, 184, 181);

$theme-colors: (
  "primary": $primary, 
  "secondary": $secondary, 
  "tertiary": $tertiary, 
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "light": $light,
  "darker": $darker,
  "selected": $selected,
  "pale": $pale,
  "hover": $hover,
  "unselectable": $unselectable,
  "table": $table
);

@import '~bootstrap/scss/bootstrap.scss';
