@import 'assets/styles/custom';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

a {
    text-decoration: none!important;
    color: inherit;
}
  
.container {
    max-width: 100%;
}
  
.row {
    padding: 0 7vw;
}


.subheading {
    font-size: 1em;
}

.heading {
    font-size: 2em;
}

.sidebar-item {
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
}

.sidebar-item:hover {
    background-color: $darker !important;
    color: white !important;
}

table {
    font-size: 14px;
    margin: 0;
}

td, th, span {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

td, th {
    border: 1px solid rgb(208, 217, 220);
} 

.table-light tbody tr td, .table-light thead tr th {
    border: 1px solid rgb(175, 175, 175);
} 

.table-success tbody tr td, .table-success thead tr th {
    background-color: $table;
}

.table-light tbody tr td, .table-light thead tr th {
    background-color: white;
}

.pill-unselected {
    background-color: $pale;
    font-weight: 100;
    font-size: 12px;
    display: inline-block;
    white-space: normal; 
    word-wrap: break-word; 
    width: auto; 
    text-align: left;
    padding: 4px 6.5px;
    margin-bottom: 2px;
    margin-right: 3px;
}

.pill-unselected:hover {
    background-color: $hover!important;
    cursor: pointer;
}

.pill-unselectable {
    background-color: $unselectable!important;
}

.pill-unselectable:hover {
    background-color: $unselectable!important;  
    cursor: default;
}

.report-heading {
    font-size: 20px;
    color: $primary;
    padding-top: 8px;
}

.vaccines-label {
    font-size: 12px;
}

.manufacturer-table-source {
    color: $warning;
}

.manufacturer-table-source:hover {
    text-decoration: underline!important;
}

.read-more {
    color: $warning;
}

.read-more:hover {
    text-decoration: underline!important;
}

.last-updated {
    font-size: 11px;
}
