@import 'assets/styles/custom';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';


/* td:not(:last-child), th:not(:last-child) {
    border-right: 1px solid rgb(175, 175, 175);
} */


a {
    text-decoration: none!important;
    color: inherit;
  }
  
.container {
    max-width: 100%;
}
  
.row {
    padding: 0 10vw;
}
  
td, th, span {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

table {
    font-size: 14px;
    margin: 0;
}

.table-success tbody tr td, .table-success thead tr th {
    background-color: $tableLight;
}

.pill-unselected {
    background-color: $pale;
    font-weight: 100;
    font-size: 12px;
    display: inline-block;
    white-space: normal; 
    word-wrap: break-word; 
    width: auto; 
    text-align: left;
    padding: 4px 6px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.pill-unselected:hover {
    background-color: $hover!important;
    cursor: pointer;
}

.pill-unselectable {
    background-color: $unselectable!important;
}

.pill-unselectable:hover {
    background-color: $unselectable!important;  
    cursor: default;
}

.subheading {
    font-size: 1em;
}

.heading {
    font-size: 2em;
}

.sidebar-item {
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
}

.sidebar-item:hover {
    background-color: $darker !important;
    color: white !important;
}
