

/* td:not(:last-child), th:not(:last-child) {
    border-right: 1px solid rgb(175, 175, 175);
} */

table {
    margin: 0;
}

.hover-underline:hover {
    text-decoration: underline;
}

.subheading {
    font-size: 1em;
}

.heading {
    font-size: 2em;
}